<%- include('partials/header') -%>
<main>
  <form action="/books/<%=book.id%>" method="post">
    <input
      type="text"
      name="title"
      placeholder="Enter Title"
      value="<%= book.title %> "
    />
    <textarea name="description" rows="5" placeholder="description">
 <%= book.description %> </textarea
    >
    <input
      type="Number"
      name="price"
      placeholder="Price"
      value="<%= book.price %> "
    />
    <input
      type="text"
      name="author"
      placeholder="Enter Author"
      value="<%= book.author %> "
    />
    <button type="submit">Update Book</button>
  </form>
</main>

<%- include('partials/footer') -%>
